body {
  background: rgb(69, 93, 167) no-repeat;
  background: linear-gradient(
      90deg,
      rgba(69, 93, 167, 1) 0%,
      rgba(70, 61, 142, 1) 50%,
      rgba(73, 33, 121, 1) 100%
    )
    no-repeat;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
